{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.log.list.css') }}">
{% endblock %}


{% block body %}

    <h3>Log</h3>
    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" style="text-align: center">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" style="text-align: center">
            {{ flash_message }}
        </div>
    {% endfor %}

    <form>
        <div class="list-search-div mdl-shadow--2dp">
            <table class="list-search-table">
                <thead>
                <th>Log Type</th>
                <th>Log Action</th>
                <th>User</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
                </thead>
                <tbody>
                <td>
                    <select name="logType" id="selectLogType" class="list-search-select">
                        <option value="">All</option>
                        {% for type in logTypes %}
                            <option value="{{ type.metacode }}"
                                    {% if type.metacode == selectedLogType %}selected{% endif %}>{{ type.name }}</option>

                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="logAction" id="selectLogAction" class="list-search-select">
                        <option value="">All</option>
                        {% for action in logActions %}
                            <option value="{{ action.metacode }}"
                                    {% if action.metacode == selectedLogAction %}selected{% endif %}>{{ action.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="user" id="selectUser" class="list-search-select">
                        <option value="">All</option>
                        {% for iUser in userList %}
                            <option value="{{ iUser.id }}"
                                    {% if iUser.id == selectedUser %}selected{% endif %}>{{ iUser.username }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input name="startDate" id="selectStartDate" type="text" data-datetime="true"
                           class="list-search-input"
                           value="{{ selectedStartDate }}">
                </td>
                <td>
                    <input name="endDate" id="selectEndDate" type="text" data-datetime="true" class="list-search-input"
                           value="{{ selectedEndDate }}">
                </td>
                <td>
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent main-buttons"
                            id="btnCashPayment" type="submit"><i class="material-icons">search</i>
                    </button>
                </td>
                </tbody>
            </table>
        </div>
    </form>

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp list-data-table">
        <thead>
        <th class="mdl-data-table__cell--non-numeric log-action">Action</th>
        <th class="mdl-data-table__cell--non-numeric log-type">Type</th>
        <th class="mdl-data-table__cell--non-numeric log-description">Description</th>
        <th class="mdl-data-table__cell--non-numeric log-date-time">Date - Time</th>
        <th class="mdl-data-table__cell--non-numeric log-user">User</th>
        <th class="mdl-data-table__cell--non-numeric log-btn-details">Details</th>
        </thead>
        {% for log in logs %}
            <tr>
                <td class="mdl-data-table__cell--non-numeric log-action">{{ log.action.name }}</td>
                <td class="mdl-data-table__cell--non-numeric log-type">{{ log.type.name }}</td>
                <td class="mdl-data-table__cell--non-numeric table-data-truncate log-description">{{ log.description }}</td>
                <td class="mdl-data-table__cell--non-numeric log-date-time">{{ log.dateTime|date('F j, Y, g:i a') }}</td>
                <td class="mdl-data-table__cell--non-numeric log-user">{{ log.user_id.username }}</td>
                <td class="log-btn-details">
                    <button data-id='' class='btnEdit' name='btnEdit'>
                        <a href="{{ url(log.type.url,{id:log.loggedId}) }}" class="text-remove-deco"><i
                                    class="material-icons">description</i></a>
                    </button>
                </td>
            </tr>

        {% endfor %}
    </table>

    <div class="navigation">
        {{ knp_pagination_render(logs) }}
    </div>

{% endblock %}