{% extends 'base.html.twig' %}

{% block body %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
            <h3>Add Customer</h3>
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" style="text-align: center">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success" style="text-align: center">
                    {{ flash_message }}
                </div>
            {% endfor %}

            {{ form_start(form,{'attr':{'class':'form wide-form'}}) }}

            <div class="mdl-textfield mdl-js-textfield">

                {{ form_widget(form.type,{'attr':{'class':'mdl-textfield__input'}}) }}
                {{ form_label(form.type,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
                {{ form_errors(form.type) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description,{'attr':{'class':'mdl-textfield__input'}}) }}
                {{ form_label(form.description,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
            </div>
            <div class="mdl-textfield mdl-js-textfield">
                {{ form_errors(form.amount) }}
                {{ form_widget(form.amount,{'attr':{'class':'mdl-textfield__input'}}) }}
                {{ form_label(form.amount,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
            </div>


            <br><br>

            {{ form_widget(form.save,{'attr':{'class':'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' }}) }}

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}