{% extends 'base.html.twig' %}

{% block sideBar %}
    {% include 'expenseSideBar.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.expense.list.css') }}">
{% endblock %}

{% block body %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <h3>Expense List</h3>
            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert alert-danger" style="text-align: center">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert alert-success" style="text-align: center">
                    {{ flash_message }}
                </div>
            {% endfor %}

            <form>
                <div class="expense-search mdl-shadow--2dp">
                    <table class="search-input-table">
                        <thead>
                        <tr>
                            <th>Description</th>
                            <th>Amount</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th><input name="description" value="{{ description }}" class="search-input"></th>
                        <th><input name="amount" value="{{ amount }}" class="search-input"></th>
                        <th><input name="startDate" value="{{ startDate }}" class="search-input"></th>
                        <th><input name="endDate" value="{{ endDate }}" class="search-input"></th>
                        <th>
                            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent main-buttons"
                                    id="btnCashPayment" type="submit"><i class="material-icons">search</i>
                            </button>
                        </th>
                        </tbody>
                    </table>
                </div>

            </form>

            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp expense-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric" id="expense-type">Type</th>
                    <th class="mdl-data-table__cell--non-numeric" id="expense-time">Time</th>
                    <th class="mdl-data-table__cell--non-numeric" id="expense-description">Description</th>
                    <th class="mdl-data-table__cell--non-numeric" id="expense-amount">Amount</th>
                    <th id="expense-edit-btn">#</th>
                </tr>
                </thead>
                {% for expense in expenses %}
                    <tr>
                        <td class="mdl-data-table__cell--non-numeric table-data-truncate" id="expense-type">{{ expense.type.name }}</td>
                        <td class="mdl-data-table__cell--non-numeric" id="expense-time">{{ expense.dateTime | date('Y-m-d H:i:s') }}</td>
                        <td class="mdl-data-table__cell--non-numeric table-data-truncate" id="expense-description">{{ expense.description }}</td>
                        <td class="mdl-data-table__cell--non-numeric" id="expense-amount">{{ expense.amount }}</td>
                        <td id="expense-edit-btn">
                            <button data-id='' class='btnEdit' name='btnEdit'>
                                <a href="{{ url('expenseEdit',{id:expense.id}) }}" class="text-remove-deco"> ✎ </a>
                            </button>
                        </td>
                    </tr>

                {% endfor %}
            </table>

            <div class="navigation">
                {{ knp_pagination_render(expenses) }}
            </div>
        </div>
    </div>

{% endblock %}