<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" type="text/css"
          href="{{ asset('bower/material-design-icons/iconfont/material-icons.css') }}">

    {% block stylesheets %}

        <link rel="stylesheet" href="{{ asset('bower/jquery-ui/themes/base/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/tools/datepicker.tweak.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/theme/material.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/app.base.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/tools/pagination/pagination.style.css') }}">


    {% endblock %}


    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<!-- Simple header with scrollable tabs. -->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">IKRO Trade Center</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">

                <a href="{{ url('adminBill') }}"
                   class="{% if(tab == 'bill') %}is-active {% endif %}mdl-navigation__link">BILLING</a>
                <a href="" class="mdl-navigation__link">DEBTS</a>
                <a href="{{ url('adminStock') }}"
                   class="{% if(tab == 'stock') %}is-active {% endif %}mdl-navigation__link">STOCK</a>
                <a href="" class="mdl-navigation__link">REPORTS</a>
                <a href="" class="mdl-navigation__link">LOG</a>
                <a href="{{ url('expenseList') }}"
                   class="{% if(tab == 'expense') %}is-active {% endif %}mdl-navigation__link">EXPENSES</a>
                <a href="{{ url('customerList') }}"
                   class="{% if(tab == 'customer') %}is-active {% endif %}mdl-navigation__link">CUSTOMERS</a>
                <a href="" class="mdl-navigation__link">SETTINGS</a>
                {#<a href="{{ url('logout') }}">Logout</a>#}
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right"
                        class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">person</i>
                </button>

                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect ul-user-menu"
                    for="demo-menu-lower-right">
                    <li class="mdl-menu__item">My Account</li>
                    <a href="{{ url('logout') }}">
                        <li class="mdl-menu__item">Logout</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>
    {% if tab=='bill' %}
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Customer Details</span>
            <nav class="mdl-navigation">
                {#<a class="mdl-navigation__link" href="">Link</a>#}
                {#<a class="mdl-navigation__link" href="">Link</a>#}
                {#<a class="mdl-navigation__link" href="">Link</a>#}
                {#<a class="mdl-navigation__link" href="">Link</a>#}
                <div class="sidebar-customer">
                    <div class="field-group">

                        <label for="customerNIC">Customer NIC</label>
                        <input class="tabic sidebar" data-tabbic='1' name="customerNIC" id="customerNIC" type="text">
                    </div>
                    <div class="field-group">
                        <label for="customerName">Customer Name</label>
                        <input class="tabic sidebar" data-tabbic='1' name="customerName" id="customerName" type="text">
                    </div>
                    <div class="field-group">
                        <label for="mobileNumber">Mobile Number</label>
                        <input class="tabic sidebar" data-tabbic='1' name="mobileNumber" id="mobileNumber"
                               type="text">
                    </div>
                    <div class="field-group">
                        <label for="homeNumber">Home Number</label>
                        <input class="tabic sidebar" data-tabbic='1' name="homeNumber" id="homeNumber"
                               type="text">
                    </div>
                    <div class="field-group">
                        <label for="address">Address</label>
                        <textarea class="tabic sidebar" data-tabbic='1' name="address" id="address" type="text"
                                  rows="4"></textarea>
                    </div>
                    <div class="field-group">
                        <button onclick="sidebarSave()"
                                data-tabbic='1'
                                class="sidebar tabic mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary main-buttons">
                            Save
                        </button>
                        <button onclick="sidebarClear()"
                                data-tabbic='1'
                                class="sidebar tabic mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  main-buttons">
                            Clear
                        </button>

                    </div>
                </div>
            </nav>
        </div>
    {% endif %}

    <main class="mdl-layout__content">
        <div class="page-content">


            <div class="mdl-grid">


                {% if tab!='bill' and tab!='stock' %}
                    {% block sideBar %}
                        <div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp ikro-sidebar-div">
                            <!-- Icon List -->


                            <ul class="main-sidebar mdl-list">
                                <li class="mdl-list__item active"><span class="mdl-list__item-primary-content"> <i
                                                class="material-icons mdl-list__item-icon">person  </i>
    Bryan Cranston
</span>
                                </li>
                                <li class="mdl-list__item"><span class="mdl-list__item-primary-content"> <i
                                                class="material-icons mdl-list__item-icon">person</i>
    Aaron Paul
  </span>
                                </li>

                                <li class="mdl-list__item"><span class="mdl-list__item-primary-content"> <i
                                                class="material-icons mdl-list__item-icon">person</i>
    Bob Odenkirk
  </span>
                                </li>


                            </ul>

                        </div>

                    {% endblock %}
                {% endif %}

                <div class="mdl-cell mdl-card mdl-shadow--2dp ikro-main-div
{{ (tab=='bill' or tab=='stock' )?"mdl-cell--12-col":"mdl-cell--10-col" }}">
                    {% block body %}{% endblock %}
                </div>

            </div>


        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer__left-section">
                <div class="mdl-logo">© 2017 Syntac Pvt Ltd. All Rights Reserved.</div>
                <ul class="mdl-mini-footer__link-list">
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Privacy & Terms</a></li>
                </ul>
            </div>
        </footer>
    </main>


</div>

{#<a href="" class="brand item">IKRO HOME</a>#}
{#<a href="" class="active item">BILLING</a>#}
{#<a href="" class="item">DEBTS</a>#}
{#<a href="" class="item">STOCK</a>#}
{#<a href="" class="item">REPORTS</a>#}
{#<a href="" class="item">LOG</a>#}
{#<a href="" class="item">EXPENSES</a>#}
{#<a href="" class="item">CUSTOMERS</a>#}
{#<a href="" class="item">SETTINGS</a>#}



{% block javascripts %}

    <script src="{{ asset('bower/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bower/material-design-lite/material.min.js') }}"></script>
    <script src="{{ asset('bower/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/app.base.js') }}"></script>


{% endblock %}
</body>
</html>
