{% extends 'login.base.html.twig' %}
{% block title %} Admin Login {% endblock %}
 {% block stylesheets %}
     {{ parent() }}


     <link rel="stylesheet" type="text/css" href="{{ asset('css/app.login.css') }}">



 {% endblock %}
{% block body %}


    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                <img src="{{ asset('img/login.img/logo.png') }}" class="image">
                <div class="content">
                    Log-in to your account
                </div>
            </h2>
            <form class="ui large form" action="{{ url('adminLogin') }}" accept-charset="utf-8" method="post">

                <div class="ui segment">
                    {% if error %}
                        <div class="error-div">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="user icon"></i>

                            <input type="text" placeholder="Username" id="username" name="_username"
                                   value="{{ last_username }}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <i class="lock icon"></i>
                            <input type="password" placeholder="Password" id="password" name="_password">
                        </div>
                    </div>

                    <button class="ui fluid large teal submit button" type="submit">Login</button>
                </div>

                <div class="ui error message"></div>

            </form>


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/app.login.js') }}"></script>


{% endblock %}