{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/app.stock.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bower/jquery-ui/themes/base/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/tools/sumoselect.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('js/tools/mdl-jquery-modal-dialog.css') }}">


{% endblock %}

{% block body %}
    <div class="product-search-row">

        <input type="text" name="searchProduct" id="searchProduct" data-tabbic="1"

               placeholder="Seach Product"> <a class="shortcuts">Keyboard Shortcuts</a>
    </div>
    <div class="mdl-card mdl-shadow--2dp ikro-product-row" style="display: none; overflow: visible;">
        <table class="one" width="100%">
            <thead>
            <tr>
                <th>Item Code</th>
                <th>Item Type</th>
                <th>Item Name</th>

                <th>Available Qty</th>
                <th>Manufacturer</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="itemCode">-</td>
                <td class="itemType">-</td>
                <td class="itemName">-</td>

                <td class="availableQty">-</td>
                <td class="manufacturer">-</td>


            </tr>

            </tbody>
        </table>
        <hr>
        <table class="two" width="">
            <thead>
            <tr>

                <th id="unitPriceCaption">Unit Price</th>
                <th>Quantity</th>
                <th>Old Prices</th>
                <th>New Price</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>

                <td><select name="priceSelect" id="priceSelect" data-tabbic="1">
                        <option value="100">&nbsp;&nbsp;-&nbsp;&nbsp;</option>

                    </select></td>


                <td><input name="qtyInput" class="" id="qtyInput" type="number" value="1" data-tabbic="1"></td>

                <td><select name="oldPriceSelect" class="" id="oldPriceSelect" multiple="multiple" tabindex="-1">

                        <option value="1">400</option>
                        <option value="2">500</option>
                        <option value="3">600</option>
                        <option value="4">700</option>
                    </select>

                </td>
                <td><input name="newPriceInput" class="" id="newPriceInput" type="number" value="1" data-tabbic="1">
                </td>
                <td>
                    <button name="btnAdd" class="flat-button" id="btnAdd" type="button" onclick="insertRow()"
                            data-tabbic="1">Add
                    </button>
                    &nbsp;
                    <button name="btnClear" class="flat-button red" id="btnClear" onclick="clearProductRow()"
                            data-tabbic="1"
                            type="button">Clear
                    </button>
                </td>

            </tr>

            </tbody>
        </table>
    </div>
    <table class="mdl-data-table mdl-js-data-table  mdl-shadow--2dp ikro-stock-table" width="100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Item Code</th>
            <th>Item Type</th>
            <th>Item Name</th>
            <th>Unit Cost</th>
            <th>Quantity</th>
            <th>Retail Price</th>
            <th>Sub Total</th>
            <th>
                <button class="" name="btnRemoveAll" id="btnRemoveAll" onclick="removeAll()" data-tabbic="1">
                    Remove All
                </button>
            </th>
        </tr>
        </thead>
        <tbody>
        {#<tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>

                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖

                </button>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>

                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖

                </button>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>
                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖
                </button>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>
                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖
                </button>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>
                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖
                </button>
            </td>
        </tr>
        <tr>
            <td>01</td>
            <td class="itemCodeTd">TRE-2263543</td>
            <td>Living Room Couch</td>
            <td>Damro Sofa Model B23</td>
            <td>Rs.25,000</td>
            <td>2</td>
            <td>10%</td>
            <td>Rs.5,000</td>
            <td>Rs.45,000</td>
            <td>
                <button class="btnEdit" name="btnEdit">
                    ✎
                </button>
                <button class="btnRemove" id="btnRemove" name="btnRemove">
                    ✖
                </button>
            </td>
        </tr>#}

        </tbody>
    </table>

    <div class="main-buttons-row">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent main-buttons"

                id="btnCashPayment" type="button" onclick="purchaseSubmit();" data-tabbic="1"><i class="material-icons">add</i>&nbsp;Add
            to Stock

        </button>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect  main-buttons"
                id="btnCancel" type="button" data-tabbic="1" onclick="resetAll()"><i class="material-icons">clear</i>&nbsp;Reset
            All
        </button>


    </div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('bower/jquery-ui/jquery-ui.min.js') }}"></script>

     <script src="{{ asset('bower/mousetrap/mousetrap.min.js') }}"></script>
     <script src="{{ asset('bower/mousetrap/plugins/global-bind/mousetrap-global-bind.min.js') }}"></script>
     <script src="{{ asset('js/tools/mdl-jquery-modal-dialog.js') }}"></script>
     <script src="{{ asset('bower/sumoselect/jquery.sumoselect.min.js') }}"></script>


     <script src="{{ asset('js/stock/app.stock.operation.js') }}"></script>
     <script src="{{ asset('js/stock/app.stock.validation.js') }}"></script>
     <script src="{{ asset('js/stock/app.stock.submission.js') }}"></script>
     <script src="{{ asset('js/stock/app.stock.customer.js') }}"></script>
     <script src="{{ asset('js/stock/app.stock.hotkeys.js') }}"></script>

     <script>
         $(function () {
             $('#oldPriceSelect').SumoSelect({
                 placeholder:"No Prices"
             });

         })
     </script>

 {% endblock %}

