{% extends 'base.html.twig' %}

 {% block sideBar %}
     <div class="mdl-cell mdl-cell--2-col mdl-card mdl-shadow--2dp ikro-sidebar-div">
         <!-- Icon List -->


         <ul class="main-sidebar mdl-list">
             <li class="mdl-list__item"><span class="mdl-list__item-primary-content"> <i
                             class="material-icons mdl-list__item-icon">edit</i>
    Edit </span>
             </li>
             <li class="mdl-list__item"><span class="mdl-list__item-primary-content"> <i
                             class="material-icons mdl-list__item-icon">print</i>
    Print Bill
</span>
             </li>
             <li class="mdl-list__item"><span class="mdl-list__item-primary-content"> <i
                             class="material-icons mdl-list__item-icon">clear</i>
    Cancel Bill
  </span>
             </li>


         </ul>

     </div>

 {% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/app.purchase.css') }}">

{% endblock %}
{% block body %}
    <script>
        var toSendBack = "{{ stringifyArray }}"
    </script>



    {% for flash_message in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" style="text-align: center">
            {{ flash_message }}
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
        <div class="alert alert-success" style="text-align: center">
            {{ flash_message }}
        </div>
    {% endfor %}
    {{ customer.name }}
    {{ customer.address }}
    <table>
        <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Discount on unit Price</th>
        <th>Total</th>
        </thead>
        <tbody>
        {% for item in invoice %}
            <tr>
                <td>{{ item.itemCode ~ " "~ item.itemName }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.discount }}</td>
                <td>{{ item.totalPrice }}</td>
            </tr>


        {% endfor %}

        </tbody>
    </table>

    <div id="div-printable">

        <div class="stripe bill-title">
            <hr>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                    <img src="{{ asset('img/login.img/logo.png') }}" alt="" height="60"> <strong>IKRO TRADE
                        CENTER</strong>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    E8, Batticaloa Road, Serunuwara. <br>
                    Tel: 026 2251512, 077 1446089, 077 1446076
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                    W.H. Nipuna Sudharaka <br>
                    Sisiragiri, Hettiyawala, Puhulwella <br>
                    2017/06/04 08:00AM

                </div>

            </div>


        </div>
        <div class="stripe bill-entry-head">
            <hr>
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Description</div>
                <div class="mdl-cell mdl-cell--1-col">Qty</div>
                <div class="mdl-cell mdl-cell--2-col">Rate</div>
                <div class="mdl-cell mdl-cell--2-col">Discount</div>
                <div class="mdl-cell mdl-cell--3-col">Sub-total</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>
        <div class="stripe bill-entry">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">Television</div>
                <div class="mdl-cell mdl-cell--1-col">01</div>
                <div class="mdl-cell mdl-cell--2-col">22000</div>
                <div class="mdl-cell mdl-cell--2-col">500</div>
                <div class="mdl-cell mdl-cell--3-col">21500</div>
            </div>
            <hr>

        </div>


        <div class="stripe bill-footer">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--3-col">
                    <br><br>
                    <br>
                    ............................<br>
                    &nbsp;&nbsp;&nbsp;&nbsp; Signature

                </div>
                <div class="mdl-cell mdl-cell--4-col"></div>
                <div class="mdl-cell mdl-cell--2-col">
                    <span class="total-text">Total</span><br>
                    <span class="total-text">Paid</span><br>
                    <span class="total-text">Balance</span>
                </div>
                <div class="mdl-cell mdl-cell--3-col">
                    <span class="total-text">21500</span><br>
                    <span class="total-text">22000</span><br>
                    <span class="total-text">500</span>
                </div>
            </div>
            <hr>
        </div>

    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/JavaScript" src="{{ asset('bower/jQuery.print/jQuery.print.js') }}"></script>
    <script type="text/JavaScript" src="{{ asset('js/app.purchase.js') }}"></script>

{% endblock %}