{% extends 'base.html.twig' %}

{% block body %}

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
        <h3>Edit Customer</h3>
        {% for flash_message in app.session.flashBag.get('error') %}
            <div class="alert alert-danger" style="text-align: center">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashBag.get('success') %}
            <div class="alert alert-success" style="text-align: center">
                {{ flash_message }}
            </div>
        {% endfor %}

        {{ form_start(form,{'attr':{'class':'form wide-form'}}) }}

        <div class="mdl-textfield mdl-js-textfield">

            {{ form_widget(form.name,{'attr':{'class':'mdl-textfield__input'}}) }}
            {{ form_label(form.name,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
            {{ form_errors(form.name) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            {{ form_errors(form.address) }}
            {{ form_widget(form.address,{'attr':{'class':'mdl-textfield__input'}}) }}
            {{ form_label(form.address,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
        </div>
        <div class="mdl-textfield mdl-js-textfield">
            {{ form_errors(form.nic) }}
            {{ form_widget(form.nic,{'attr':{'class':'mdl-textfield__input'}}) }}
            {{ form_label(form.nic,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
        </div>

        <div class="mdl-textfield mdl-js-textfield">
            {{ form_errors(form.mobile) }}
            {{ form_widget(form.mobile,{'attr':{'class':'mdl-textfield__input'}}) }}
            {{ form_label(form.mobile,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
        </div>

        <div class="mdl-textfield mdl-js-textfield">
            {{ form_errors(form.fixed) }}
            {{ form_widget(form.fixed,{'attr':{'class':'mdl-textfield__input'}}) }}
            {{ form_label(form.fixed,null,{'label_attr':{'class':'mdl-textfield__label'}}) }}
        </div>
        <br><br>

        {{ form_widget(form.save,{'attr':{'class':'mdl-button mdl-js-button mdl-button--raised mdl-button--colored' }}) }}

        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}